
.textos1{
    font-weight:bold;
}

.text-decorator-none{
    text-decoration: none;
}

.imagem{
    background-image: url(https://img.freepik.com/free-vector/microsite-development-abstract-concept-vector-illustration-microsite-web-development-small-internet-site-graphic-design-service-landing-page-software-programming-team-abstract-metaphor_335657-2296.jpg?w=740&t=st=1659497454~exp=1659498054~hmac=efb3207f7eced7e3b0d65fa91593526724446dd83c991cf15e7eb9b64f903eb3);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width:100vh;
    min-height:100vh;
}