.caixa{
    background-color: #3F51B5;
}

.titulo{
    color: #ffffff !important;
    font-weight: bold !important;
}

.button{
    border-color: #ffffff !important;
    background-color: #3F51B5;
    color: #ffffff !important ;
}

.postagens{
    background-color: #ffffff;
}

.text-decorator-none{
    text-decoration: none;
}