.imagem-cadastro{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0IT-OyaoYNWvvTHibh_SlFllf9E70TdJcmw&usqp=CAU);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width:100vh;
    min-height:100vh;
}
.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}